@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Shippori+Mincho+B1&display=swap');
/*font-family: 'Shippori Mincho B1', serif;*/
/*font-family: 'Lato', sans-serif;*/

body  {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  position: relative;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

#navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65px;
  position: fixed;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}

#logo {
  margin-left: 10px;
}

#image  {
  border-radius: 50%;
}

#nav-items ul {
  margin-right: 10px;
}

#nav-items ul li  {
  display: inline;
  list-style: none;
  padding-left: 0;
  padding-right: 4px;
  margin-right: 8px;
  border-right: 1px solid grey;
}

#welcome-section  {
  margin-top: 200px;
  max-width: 600px;
  height: 100vh;
}

#welcome-section h1 {
  text-align: center;
}

#welcome-section p  {
  text-align: center;
}

#projects {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  justify-content: center;
  padding: 10px 20px;
}
  
.project-tile {
  display: flex;
  max-width: 340px;
  width: 100%;
  height: 400px;
}

footer  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
}

h3  {
  text-align: center;
}

#contact ul {
  text-align:center;
  list-style: none;
  padding-left: 0px;
}

#contact ul li a  {
  text-decoration: none;
}
